.catalogs__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background: #f6f6f6;
  gap: 15px;
  padding: 20px 15px 30px 15px;
  width: calc(25% - 15px);
}
.catalogs__item__image {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogs__item img {
  -o-object-fit: contain;
     object-fit: contain;
}
.catalogs__item h3 {
  padding: 0 5px;
  max-width: 150px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;
}

.catalog {
  padding-bottom: 150px;
}
.catalog__inner {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.catalog__title {
  margin-bottom: 30px;
}
.catalog__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (max-width: 1080px) {
  .catalog__inner {
    flex-direction: column;
  }
  .catalog__items {
    justify-content: center;
  }
  .catalog .category-menu {
    width: 100%;
  }
  .catalog .category-menu__head {
    justify-content: unset;
  }
  .catalog .category-menu h2 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 860px) {
  .catalogs__item {
    width: calc(33.3333333333% - 20px);
  }
}
@media screen and (max-width: 620px) {
  .catalogs__item {
    width: calc(50% - 20px);
  }
}
@media screen and (max-width: 480px) {
  .catalog {
    padding-bottom: 75px;
  }
  .catalog-title {
    font-size: 26px;
  }
  .category-menu__head h2 {
    font-size: 18px;
  }
  .catalogs__item {
    width: 100%;
  }
}