.viewed-products {
  position: relative;
}
.viewed-products__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 100% */
  margin-bottom: 25px;
}
.viewed-products .viewed-products__slider-button-prev::after {
  display: none;
}
.viewed-products .viewed-products__slider-button-next::after {
  display: none;
}
.viewed-products .viewed-products__slider-button-prev {
  background: url("/images/slider-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  left: -60px;
}
.viewed-products .viewed-products__slider-button-next {
  right: -60px;
  cursor: pointer;
  background: url("/images/slider-next.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.viewed-slider .viewed-products__item {
  min-height: 285px;
}

.item-with-cart {
  min-height: 285px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0.5px solid #e6e9eb;
}
.item-with-cart:hover .item-with-cart__cart-btn {
  opacity: 1;
}
.item-with-cart:hover .item-with-cart__image::before {
  opacity: 1;
}
.item-with-cart > h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding: 30px 5px;
}
.item-with-cart__cart-btn {
  z-index: 4;
  transition: 0.3s all ease;
  position: absolute;
  height: 35px;
  width: 35px;
  opacity: 0;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.item-with-cart__image {
  border-radius: 4px;
  position: relative;
  height: 200px;
  width: 100%;
}
.item-with-cart__image > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-with-cart__image::before {
  content: "";
  transition: 0.2s all ease;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  opacity: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.product {
  padding-bottom: 100px;
}
.product h4 {
  color: #111;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 20px;
  opacity: 0.8;
  padding: 20px 0px;
  border-bottom: 0.5px solid rgba(151, 151, 151, 0.49);
}
.product__characteristics {
  width: 50%;
}
.product__characteristics h4 {
  padding-left: 20px;
}
.product__table {
  margin-left: 20px;
}
.product__table table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
.product__table table td {
  border: 1px solid #b3b3b3;
  border-style: none solid solid none;
  padding: 13px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}
.product__table table tr:first-child td:first-child {
  border-top-left-radius: 3px;
}
.product__table table tr:first-child td:last-child {
  border-top-right-radius: 3px;
}
.product__table table tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}
.product__table table tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}
.product__table table tr:first-child td {
  border-top-style: solid;
}
.product__table table tr td:first-child {
  border-left-style: solid;
}
.product__descr {
  width: 50%;
}
.product__descr__items {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.product__descr__item h3 {
  color: #000;
  opacity: 0.8;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.product__descr__item p {
  margin-top: 40px;
  opacity: 0.8;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.product__top {
  gap: 20px;
  display: flex;
}
.product__images {
  width: 50%;
}
.product__image {
  cursor: pointer;
}
.product__info h2 {
  color: #111;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  opacity: 0.8;
  line-height: 30px;
}
.product__info p {
  width: 60%;
  color: #000;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.product__article {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.5;
}
.product__bottom {
  margin-top: 50px;
  display: flex;
  margin-bottom: 50px;
}

.mySwiper2 {
  margin-bottom: 20px;
}
.mySwiper2 .product__image {
  height: 350px;
  width: 530px;
}
.mySwiper2 .product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper .product__image {
  height: 85px;
  width: 130px;
}
.mySwiper .product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.add-product-btn {
  padding: 15px 25px;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin-top: 35px;
  line-height: 16px;
}

@media screen and (max-width: 980px) {
  .product__images {
    width: 40%;
  }
  .product__images .mySwiper2 .product__image {
    height: 300px;
  }
}
@media screen and (max-width: 780px) {
  .product__top {
    flex-direction: column;
    gap: 40px;
  }
  .product__bottom {
    flex-direction: column;
    gap: 50px;
  }
  .product__bottom .product__descr {
    width: 100%;
  }
  .product__bottom .product__characteristics {
    width: 100%;
  }
  .product__info .product__name {
    font-size: 26px;
  }
  .product__images {
    width: 100%;
  }
  .product__images .mySwiper .product__image {
    height: 150px;
  }
  .product__images .mySwiper2 .product__image {
    height: 400px;
  }
}
@media screen and (max-width: 480px) {
  .product__top {
    flex-direction: column;
    gap: 40px;
  }
  .product__bottom {
    flex-direction: column;
    gap: 50px;
  }
  .product__bottom .product__descr {
    width: 100%;
  }
  .product__bottom .product__characteristics {
    width: 100%;
  }
  .product__info .product__name {
    font-size: 26px;
  }
  .product__images {
    width: 100%;
  }
  .product__images .mySwiper .product__image {
    height: 150px;
  }
  .product__images .mySwiper2 .product__image {
    height: 250px;
  }
}