<div class="dropdown">
  <div class="dropdown__inner">
    <div class="container">
      <ul class="dropdown__menu">
        <li>
          <a href="#">Доступный демопарк</a>
          <ul class="next-dropdown__menu">
            <li>
              <a href="#">Интерактивные устройства</a>
            </li>
            <li>
              <a href="#">Решения для переговорных комнат</a>
              <ul class="last-dropdown__menu">
                <li>
                  <a href="#">Интерактивные устройства</a>
                </li>
                <li>
                  <a href="#">Решения для переговорных комнат</a>
                </li>
                <li>
                  <a href="#">AV-коммутация</a>
                </li>
                <li>
                  <a href="#">Оборудование управления</a>
                </li>
                <li>
                  <a href="#">Доступный демопарк</a>
                </li>
                <li>
                  <a href="#">Крепления</a>
                </li>
                <li>
                  <a href="#">Готовые комплекты оборудования</a>
                </li>
                <li>
                  <a href="#">Кабели</a>
                </li>
                <li>
                  <a href="#">Световое оборудование</a>
                </li>
                <li>
                  <a href="#">Трибуны и рэковые шкафы</a>
                </li>
                <li>
                  <a href="#">Рэковые шкафы</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">AV-коммутация</a>
            </li>
            <li>
              <a href="#">Оборудование управления</a>
            </li>
            <li>
              <a href="#">Доступный демопарк</a>
            </li>
            <li><a href="#">Крепления</a></li>
            <li>
              <a href="#">Готовые комплекты оборудования</a>
            </li>
            <li><a href="#">Кабели</a></li>
            <li>
              <a href="#">Световое оборудование</a>
            </li>
            <li>
              <a href="#">Трибуны и рэковые шкафы</a>
            </li>
            <li>
              <a href="#">Рэковые шкафы</a>
            </li>
            <li>
              <a href="#">Трибуны и кафедры</a>
            </li>
            <li>
              <a href="#">Архивные модели</a>
            </li>
          </ul>
        </li>
        <li><a href="#">Уцененные товары</a></li>
        <li><a href="#">Конференц-системы</a></li>
        <li>
          <a href="#">Системы синхронного перевода</a>
        </li>
        <li><a href="#">Видеоконференцсвязь</a></li>
        <li>
          <a href="#">Микрофонные системы и микрофоны</a>
        </li>
        <li>
          <a href="#">Системы синхронного перевода</a>
        </li>
        <li><a href="#">Наушники</a></li>
        <li>
          <a href="#">Оборудование звукоусиления</a>
        </li>
        <li>
          <a href="#">Системы Digital Signage</a>
        </li>
        <li>
          <a href="#">Системы отображения информации</a>
        </li>
        <li>
          <a href="#">Видеокамеры и устройства записи и трансляции</a>
        </li>
        <li><a href="#">Документ-камеры</a></li>
      </ul>
    </div>
  </div>
</div>
