<aside>
  <div class="category-menu">
    <div class="category-menu__head">
      <div class="burger-btn"><span></span></div>
      <h2>Каталог 2</h2>
    </div>
    <div class="category-menu__list">
      <ul>
        <li>
          <p>Доступный демопарк</p>
          <ul>
            <li><a href="#">Уцененные товары</a></li>
            <li><a href="#">Конференц-системы</a></li>
            <li><a href="#">Системы синхронного </a></li>
            <li><a href="#">Видеоконференц связь</a></li>
            <li><a href="#">Микрофонные системы </a></li>
            <li><a href="#">Наушники</a></li>
          </ul>
        </li>
        <li><p>Уцененные товары</p></li>
        <li><p>Конференц-системы</p></li>
        <li><p>Системы синхронного перевода</p></li>
        <li><p>Видеоконференцсвязь</p></li>
        <li><p>Микрофонные системы и микрофоны</p></li>
        <li><p>Наушники</p></li>
        <li><p>Оборудование звукоусиления</p></li>
        <li><p>Системы Digital</p></li>
        <li><p>Signage</p></li>
        <li><p>Системы отображения информации</p></li>
        <li><p>Документ-камеры</p></li>
        <li><p>Интерактивные устройства</p></li>
        <li><p>Решения для переговорных комнат</p></li>
        <li><p>AV-коммутация</p></li>
        <li><p>Оборудование управления</p></li>
        <li><p>Крепления</p></li>
        <li><p>Кабели</p></li>
        <li><p>Архивные модели</p></li>
      </ul>
    </div>
  </div>
  <div class="brands-filter">
    <div class="brands-filter__inner">
      <div class="brands-filter__head">
        <h3>Бренды</h3>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="10"
          height="8"
          viewBox="0 0 10 8"
          fill="none"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M5 0L10 8H0L5 0Z"
            fill="#1B3768"
          />
        </svg>
      </div>
      <form action="" class="brands-filter__select-form">
        <div class="brands-filter__items">
          <label class="brands-filter__item">
            <input type="checkbox" />
            Name brand
          </label>
          <label class="brands-filter__item">
            <input type="checkbox" />
            Name brand
          </label>
          <label class="brands-filter__item">
            <input type="checkbox" />
            Name brand
          </label>
          <label class="brands-filter__item">
            <input type="checkbox" />
            Name brand
          </label>
          <label class="brands-filter__item">
            <input type="checkbox" />
            Name brand
          </label>
        </div>
        <div class="brands-filter__actions">
          <a href="#" class="filled-btn brands-filter__show-btn">Показать</a>
          <a href="#" class="brands-filter__reset-btn">Сбросить фильтр</a>
        </div>
      </form>
    </div>
  </div>
</aside>
