<div class="tags">
  <h2 class="tags__title">Метки</h2>
  <div class="tags__items">
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item tag--selected">Теги</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Теги</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Теги</div>
    <div class="tags__item">Теги</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Видеокемеры</div>
    <div class="tags__item">Теги</div>
    <div class="tags__item">Теги</div>
    <div class="tags__item">Видеокемеры</div>
  </div>
</div>
